@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", sans-serif;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9cbcf8;
    border-radius: 8px;
}

.custom-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid darkblue;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    animation-name: rotate;
    animation-duration: 0.8s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
